.main-product-image{
  max-width: 200px;
}

.dInline{
  display:inline!important;
  max-width: 200px;
}

.bodyNoBtn{
  height:100px;
}

.product-card{
  border-radius: 50px 20px;
  border: 1px solid grey;
  padding: 10px;
  margin: 20px;
  text-align: center;

}

.category-products-block{
  text-align: center;
  margin:auto;
}

.centercenter{
  text-align: center;
  margin:auto;
}
